.wrap {
    width: 900px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.control-panel {
    float: left;
    background: #fcc;
    box-sizing: border-box;
    vertical-align: top;
    min-height: 200px;
    width: 80%;
}

.widgets-panel {
    float: right;
    background: #fcf;
    box-sizing: border-box;
    width: 20%;
    min-height: 200px;
}

.widget {
    display: inline-block;
    vertical-align: text-top;
    box-sizing: border-box;
    min-width: 100px;
    margin: 10px;
    border: 1px solid lightcyan;
    background: #fff;
}

.widget__header, .widget__preview {
    text-align: center;
    background: #ccf;
}

.widget__body {
    padding: 5px;
    background: #fff;
}


.control-panel .widget__preview {
    display: none;
}

.widgets-panel .widget__header {
    display: none;
}

.close .widget__body {
    display: none;
}

.counter {
    text-align: center;
}

.counter__display {
    font-size: 2rem;
}